In [1]:
!tshark -n -r attack_linux_tcpdump.pcap -T fields -Eheader=y -e frame.number -e frame.len > frame.len

In [2]:
!head -10 frame.len

frame.number	frame.len
1	60
2	60
3	60
4	60
5	83
6	134
7	60
8	60
9	60

In [3]:
import pandas as pd

In [4]:
df=pd.read_table("frame.len")

In [5]:
df

         frame.number  frame.len
0                   1         60
1                   2         60
2                   3         60
3                   4         60
4                   5         83
5                   6        134
6                   7         60
7                   8         60
8                   9         60
9                  10         60
10                 11         60
11                 12         60
12                 13         60
13                 14         60
14                 15         60
15                 16         60
16                 17         60
17                 18         60
18                 19         60
19                 20         60
20                 21         60
21                 22         60
22                 23         60
23                 24         60
24                 25         60
25                 26         60
26                 27         60
27                 28         60
28                 29         60
29                 30         60
...               ...        ...
2331743       2331744         66
2331744       2331745         66
2331745       2331746         66
2331746       2331747        166
2331747       2331748         74
2331748       2331749         74
2331749       2331750         66
2331750       2331751         89
2331751       2331752         66
2331752       2331753         90
2331753       2331754         66
2331754       2331755        394
2331755       2331756        610
2331756       2331757         66
2331757       2331758         66
2331758       2331759         66
2331759       2331760         90
2331760       2331761         66
2331761       2331762        610
2331762       2331763         66
2331763       2331764        394
2331764       2331765        118
2331765       2331766         66
2331766       2331767        118
2331767       2331768         66
2331768       2331769        150
2331769       2331770         66
2331770       2331771         66
2331771       2331772        150
2331772       2331773         66

[2331773 rows x 2 columns]

In [6]:
df["frame.len"].describe()

count    2331773.000000
mean         419.504568
std          586.083730
min           42.000000
25%           62.000000
50%           74.000000
75%          610.000000
max         1514.000000
dtype: float64

In [7]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [8]:
figsize(10,6)